h1 {font-family: cursive;
}
body {background-image: url(space.jpg) }
body {color: aliceblue}
p>a {color: darkorange}
h1 {font-size: 100px; }
h1 {background-image: url(train.jpg)}
p {font-size: 30px; }
#choose {color: crimson}
#choose {font-size: 60px;}
